.post {
    text-decoration-color: black;
}
body{
    background-color: #0066ff;
    background-size: cover;
}

.form {
    background-color: #0066ff;
    background-size: cover;
}

Login-form {
    background-color: #0066ff;
    background-size: cover;
}

Register {
    background-color: #0066ff;
    background-size: cover;
}

#JumboInd{
    background-image: url(http://cdn50.fansshare.com/photos/wallpaperbackground/awesome-wallpapers-awesome-1026681985.jpg);
}

p {
    text-decoration-color: white;
}
jumbotron{
    border-bottom: 5px;
    border-bottom-color: black;
}
