.post {
    text-decoration-color: black;
}
body{
    background-color: #0066ff;
    background-size: cover;
}

.form {
    background-color: #0066ff;
    background-size: cover;
}

Login-form {
    background-color: #0066ff;
    background-size: cover;
}

Register {
    background-color: #0066ff;
    background-size: cover;
}

.jumbotron {
    background-image: element (Blog);
}
