.post {
    text-decoration-color: black;
}
body{
    background-color: #0066ff;
    background-size: cover;
}

.form {
    background-color: #0066ff;
    background-size: cover;
}

Login-form {
    background-color: #0066ff;
    background-size: cover;
}

Register {
    background-color: #0066ff;
    background-size: cover;
}

#JumboInd {
    background-image: url(http://www.bridalguide.com/sites/default/files/article-images/honeymoons/puerto-rico/puerto-rican-beach.jpg);
    background-size: cover;
}
