.post {
    text-decoration-color: black;
}
body{
    background-image: url(https://gamercrash.files.wordpress.com/2011/08/halo-combat-evolved-anniversary-pax-prime-2011.jpg);
    background-size: cover;
}

.form {
    background-image: url(https://gamercrash.files.wordpress.com/2011/08/halo-combat-evolved-anniversary-pax-prime-2011.jpg);
    background-size: cover;
}